<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></i>
			<li><%= link_to "Contact", contact_path %></i>
			<li><a href="http://news.railstutorial.org/">News</a></i>
			<li><a href="http://www.railstutorial.org/">Rails Tutorial</a></i>			
		</ul>	
	</nav>	
</footer>